#doc
  margin auto /* center in viewport */
  width 1024px /* fix page width */

#hd
  height 64px

#ft
  height 51px

#bd li
  list-style-type none

.tree_item, .tree_item span, .tree_item input, .tree_item button
  vertical-align middle

.tree_item
  padding 2px

.dropzone, .ui-droppable
  height 20px

#proof-tree-view input[type=text]
  width 300px

ol, ul, dl, li
  margin 0px

#proof-tree-view .ui-droppable
  padding 5px

.dropHover
  background-color lightgrey

.btnDeleteList
  float right

#faccompsci
  text-align right
  float right
  font-weight bold

.uured
  color rgb(146, 21, 37)

#header
  font-size 29px
  vertical-align middle

#header img
  vertical-align middle

#txtAddRule
  width 300px

#divListAdd
  margin-bottom 20px

#uulogo, #faccompsci
  vertical-align middle

#hd
  border-width 1px 1px 0px 1px

#home-view
  border-width 1px

#ft
  border-width 0px 1px 1px 1px

#hd, #home-view, #ft
  border-color black
  border-style solid
  padding 5px

ul.tree, ul.tree ul
  list-style-type none
  margin 0
  padding 0

#rules-list-view
  margin 0
  padding 0

#logout
  float right
  vertical-align middle

.redField
  background-color rgb(255,127,190)

.yellowField
  background-color rgb(229,255,79)

.greenField
  background-color rgb(127,255,105)

.whiteField
  background-color #ffffff

.blueField
  background-color rgb(143,255,255)

.box
  width 12px
  height 12px
  border 1px solid black
  float left
  clear both
  margin-right 5px

.rule-list-item
  background-image url('/img/drag.png')
  background-repeat no-repeat
  background-position 8px 8px
  background-color #fafafa
  width 490px
  padding 5px 5px 8px 5px
  text-indent 30px
  margin 0px
  border 1px solid black
  position: absolute !important

#color-coding-list
  margin-left 10px
  padding-left 0px

#rules-list-view li
  height 35px

.rule-list-item span, .rule-list-item input
  vertical-align middle

#rules-list-div
  margin-bottom 10px

/* BUTTONS */
.buttons a, .buttons button
    margin 0px
    background-color #f5f5f5
    border 1px solid #dedede
    border-top 1px solid #eee
    border-left 1px solid #eee
    font-family "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
    font-size 100%
    line-height 130%
    text-decoration none
    font-weight bold
    color #565656
    padding 5px /* Links */

.buttons button:active
  border 1px solid #eee
  border-top 1px solid #dedede
  border-left 1px solid #dedede

.buttons button
    width auto
    padding 5px/* IE6 */
    background-image url('/img/cross.png')
    background-repeat no-repeat
    width 20px
    height 20px
    background-position center center

.buttons button[type]
    padding 5px/* Firefox */
    line-height 10px /* Safari */

*:first-child+html button[type]
    padding 5px /* IE7 */

.buttons button img, .buttons a img
    margin 0px !important
    padding 0
    border none
    width 15px
    height 15px

#proof-tree-div
  margin-bottom 5px

.lhsText
  width 375px
  text-align justify

#proof_0
  border 1px solid #000

input[disabled='disabled']
  border 1px solid #666
  color #111

form
  width 400px
  margin-bottom 50px

form div
  clear both
  padding-top 5px

form div label
  float left
  width 175px
  text-align right

form div .digestive-input
  float right
  width 200px
  text-align left

form div .digestive-submit
  width auto

.digestive-error-list
  float left

.digestive-error
  color #C00
