#doc
  margin auto /* center in viewport */
  width 970px /* fix page width */

/* arbitrary content styling */
#hd, .yui3-g .content, #ft
  border 5px solid #ccc
  margin-right 10px /* gutter between columns */

#hd
  height 64px

#ft
  height 51px

#bd li
  list-style-type none

#proof-tree-view input[type=text]
  width 250px

#proof-tree-view ol, ul, dl
#rules-list-view ol, ul, dl
  margin 0 0 20px 0

#rules-list-view li
  height 30px

#rules-list-view .ui-draggable
  width 290px
  padding 5px
  margin 0px
  border 1px solid black
  background-color white

#proof-tree-view .ui-droppable
  padding 5px

.dropHover
  background-color lightgreen

.btnDeleteList
  float right

#faccompsci
  text-align right
  float right
  font-weight bold

.uured
  color rgb(146, 21, 37)

#header
  font-size 29px
  vertical-align middle

#header img
  vertical-align middle

#txtAddRule
  width 250px

#divListAdd
  margin-bottom 20px

#uulogo, #faccompsci
  vertical-align middle



ul.tree, ul.tree ul
  list-style-type none
  background url(/img/vline.png) repeat-y
  margin 0
  padding 0

ul.tree ul
  margin-left 10px

ul.tree li
  margin 0
  padding 0 12px
  line-height 20px
  background url(/img/node.png) no-repeat
  color #369
  font-weight bold

ul.tree li:last-child
  background #fff url(/img/lastnode.png) no-repeat

#rules-list-view
  margin 0
  padding 0

#logout
  float right
  vertical-align middle

.redField
  background-color: #ff6666

.yellowField
  background-color: #ffff66

.greenField
  background-color: #66ff66

.whiteField
  background-color: #ffffff
